<h1>Your tasks here</h1>

<div class="container-fluid overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-2 border rounded bg-status--backlog">
                <p>Backlog</p>
                <ul class="list-unstyled" id="app-tasks-list-backlog"></ul>
                <button id="app-add-task-backlog" class="btn">+ Add card</button>
                <button id="app-submit-add-task-backlog" class="btn">Submit</button>
            </div>
        </div>
        <div class="col">
            <div class="p-2 border rounded bg-status--ready">
                <p>Ready</p>
                <ul class="list-unstyled" id="app-tasks-list-ready"></ul>
                <select class="form-select" name="app-select-ready" id="app-select-ready">
                </select>
                <button id="app-add-task-ready" class="btn">+ Add card</button>
                <button id="app-submit-add-task-ready" class="btn">Submit</button>
            </div>
        </div>
        <div class="col">
            <div class="p-2 border rounded bg-status--in-progress">
                <p>In progress</p>
                <ul class="list-unstyled" id="app-tasks-list-in-progress"></ul>
                <button id="app-add-task-in-progress" class="btn">+ Add card</button>
                <button id="app-submit-add-task-in-progress" class="btn">Submit</button>
            </div>
        </div>
        <div class="col">
            <div class="p-2 border rounded bg-status--finished">
                <p>Finished</p>
                <ul class="list-unstyled" id="app-tasks-list-finished"></ul>
                <button id="app-add-task-finished" class="btn">+ Add card</button>
                <button id="app-submit-add-task-finished" class="btn">Submit</button>
            </div>
        </div>
    </div>
</div>
