<h1>Your tasks here</h1>

<div class="container-fluid overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-2 border rounded bg-status--backlog">Backlog</div>
        </div>
        <div class="col">
            <div class="p-2 border rounded bg-status--ready">Ready</div>
        </div>
        <div class="col">
            <div class="p-2 border rounded bg-status--in-progress">In progress</div>
        </div>
        <div class="col">
            <div class="p-2 border rounded bg-status--finished">Finished</div>
        </div>
    </div>
</div>
